@use "../../pages/Utilie.scss" as Utilie;

%general {
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--bgdark);
  font-family: "Raleway", sans-serif;
  width: 15rem;
  margin-block: 0.8rem;
  margin-inline: 0.8rem;
  padding-inline: 0.5rem;
  outline: none;
  font-size: 1rem;
  border: none;
}

.login {
  @include Utilie.CustomWH($h: calc(100vh - 4rem), $w: 100%);
  object-fit: contain;
  @include Utilie.CustomFlex($justifyContent: center, $alignItem: center);
  background-color: var(--bglight);
  background-size: cover;
  color: var(--textdark);
  form {
    @include Utilie.CustomWH($mh: 50%, $mw: 20%);
    @include Utilie.CustomFlex(
      $direction: column,
      $justifyContent: center,
      $alignItem: center
    );
    padding: 1rem;
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    input {
      @extend %general;
    }
    label {
      @extend %general;
      padding-inline: 0rem;
      box-shadow: none;
      padding-block: 0;
      font: 100 1rem sans-serif;
      letter-spacing: 0.01rem;
    }
    button {
      @extend %general;
      font: 400 1.2rem sans-serif;
      letter-spacing: 0.01rem;
      cursor: pointer;
      transition: 0.3s ease;
      background-color: var(--bgdark);
      color: var(--textlight);
      &:hover {
        background-color: var(--button);
        color: var(--textdark);
      }
      &:disabled {
        background-color: var(--bgdark);
        opacity: 0.5;
        cursor: wait;
      }
    }
  }
}
