@use "../../pages/Utilie.scss" as Utilie;

%general {
  cursor: pointer;
  padding-block: 0.7rem;
  box-shadow: 0px 0px 4px var(--bgdark);
  border-radius: 10px;
  font: 600 1rem "Raleway";
  width: 100%;
  margin-block: 0.5rem;
  padding-inline: 0.5rem;
  outline: none;
  border: none;
}

.post {
  padding-block: 2rem;
  @include Utilie.CustomWH($w: 100%, $mh: calc(100vh - 4rem));
  @include Utilie.CustomFlex($direction: column, $justifyContent: center);
  background-color: var(--bglight);
  color: var(--bgdark);
  form {
    @include Utilie.CustomFlex($direction: column);
    @include Utilie.CustomWH($w: 80%, $h: 40%);

    border-radius: 20px;
    margin-top: 1rem;
    margin-inline: auto;
    label {
      @extend %general;
    }
    button {
      @extend %general;
      transition: 0.2s ease;
      background-color: var(--bgdark);
      color: var(--textlight);
      &:hover {
        background-color: var(--bglight);
        color: var(--textdark);
      }
      &:disabled {
        background-color: var(--bgdark);
        opacity: 0.5;
        cursor: wait;
      }
    }
    textarea {
      @extend %general;
      min-height: 50%;
      cursor: auto;
    }
    input {
      @extend %general;
    }
    > div {
      @extend %general;
      @include Utilie.CustomFlex($flexWrap: wrap, $alignItem: center);

      > span {
        @include Utilie.CustomFlex($justifyContent: center);
        @extend %general;
        margin-inline: 0.5rem;
        background-color: var(--bglight);
        padding-block: 0.5rem;
        opacity: 0.8;
        max-width: 6rem;
      }
    }
  }
}

.postimg {
  display: flex;
  @include Utilie.CustomWH($w: 100%, $h: 50%);

  img {
    @include Utilie.CustomWH($w: 80%, $maxh: 50vh);
    border-radius: 10px;
    box-shadow: 0px 1px 4px var(--bgdark);
    margin-inline: auto;
    object-fit: contain;
  }
}

.selected {
  background-color: var(--bgdark) !important;
  color: var(--textlight);
}
