@use "../../pages/Utilie.scss" as Utilie;

%general {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  width: 15rem;
  margin: 1rem;
  outline: none;
  border: none;
  padding-inline: 0.5rem;
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 4px var(--bgdark);
}

.update {
  @include Utilie.CustomWH($w: 100%, $h: calc(100vh - 4rem));
  @include Utilie.CustomFlex($justifyContent: center, $alignItem: center);
  background-color: var(--bglight);
  color: var(--textdark);
  form {
    @include Utilie.CustomFlex($direction: column,$alignItem:center);
    @include Utilie.CustomWH($mw: 50%, $mh: 40%);
    box-shadow: 0px 2px 4px gray;
    border-radius: 20px;
    padding: 2rem;
    label {
      @extend %general;
      padding-inline: 0;
      padding-block: 0;
      border-radius: 0;
      box-shadow: none;
      font: 100 1rem sans-serif;
      letter-spacing: 0.01rem;
    }
    input {
      @extend %general;
    }
    button {
      @extend %general;
      font: 100 1.1rem sans-serif;
      letter-spacing: 0.01rem;
      box-shadow: none;
      font-family: sans-serif;
      cursor: pointer;
      color: var(--textlight);
      background-color: var(--bgdark);
      box-shadow: 0px 0px 4px var(--bgdark);
      transition: 0.2s ease;
      &:hover {
        background-color: var(--button);
        color: var(--textdark);
      }
      &:disabled {
        background-color: var(--bgdark);
        opacity: 0.5;
        cursor: wait;
      }
    }
  }
}
#updateimg {
  cursor: pointer;
}
